

// custom

$colour-primary: #6EDDBC;
$colour-white: #FFFFFF;
$colour-primary-black: #222222;
$colour-light-black: #464646;
$colour-dark-grey: #858585;
$colour-lighter-grey: #8A8A8A;
$colour-invisible-grey: #E2E2E2;
$colour-red: #FC7E88;
$colour-disabled-grey: #a5e9d470;

// Bootstrap

$theme-colors: (
  "primary":    $colour-primary,
  "dark":       $colour-primary,
  "secondary":  $colour-white,
);

// Box-shadow

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-green: #6EDDBC 0px 8px 24px;

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-focus-box-shadow: none;

$bs-btn-color: #fff;
$bs-btn-bg: #6eddbc;
$bs-btn-border-color: #6eddbc;
$bs-btn-hover-color: #fff;
$bs-btn-hover-bg: #6eddbc;
$bs-btn-hover-border-color: #6eddbc;
$bs-btn-focus-shadow-rgb: 49, 132, 253;
$bs-btn-active-color: #fff;
$bs-btn-active-bg: #6eddbc;
$bs-btn-active-border-color: #6eddbc;
$bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
$bs-btn-disabled-color: #fff;
$bs-btn-disabled-bg: #6eddbc;
$bs-btn-disabled-border-color: #6eddbc;

// Font

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Inter", sans-serif;
$headings-color: $colour-primary;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// Inter font sizes from Adobe XD

$inter-font-size-14: 14px;
$inter-font-size-16: 14px;
$inter-font-size-20: 16px;

// cards

$card-spacer-x: 0.3em;
$card-spacer-y: 0.3em;


