.card-img-top {
    border-radius: 7px;
}

.card__img {
    height: 250px;
    object-fit: cover;
}

.card__text--name {
    font-size: 13px;
    font-weight: 600;
}

.card__text--rating {
    font-size: 13px;
    font-weight: 500;
}

.card__text--people {
    font-size: 13px;
    font-weight: 500;
}

.card__text--price {
    font-size: 13px;
    font-weight: 500;
}

.card__text--area {
    font-size: 13px;
    font-weight: 600;
}

.card {
    margin-bottom: 45px;
    border: none;

    p {
        margin-bottom:7px;
    }
}

