

.enquiries-inbox__table {
    border-color: $colour-primary;
    border-spacing: 0;

    &--thead {
        background-color: $colour-primary;
        color: $colour-white;
        text-align: center;
    }

    &--tbody tr:hover td {
        background-color: $colour-primary;
        color: $colour-white;
        cursor: pointer;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

    tr {
        border-right: 1px solid $colour-primary;
        border-left: 1px solid $colour-primary;
    }

    &--productdetails-div {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
    }

    &--product-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-items: center;
    }

    &--product-image {
        max-width: 12vh;
        padding: 10px;

        > img {
            width: 100%;
        }
    }
}