.footer {
    flex-shrink: 0;
    background-color: $colour-primary;
    color: $colour-white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &__logo {
        img {
            height: 33px;
        }
    }
}

.footer__row {
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
    }
}

.footer__icons {
    @media (max-width: 450px) {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.footer__copywright-text {
    text-align:center;
    @media (max-width: 450px) {
        padding-top: 5px;
        padding-bottom: 5px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
}

.footer__logo {
    text-align: right;
    @media (max-width: 450px) {
        padding-top: 5px;
        padding-bottom: 5px;
        display:flex;
        flex-direction: row;
        justify-content: center;
    } 
}