

.navbar__search--container {
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 991px) {
        margin-top: 40px;
    }

    input {
        border-radius: 15px;
        border-style: none;
        height: 30px;
        min-width: 400px;
        border: 1px solid $colour-primary;

        @media screen and (max-width: 410px) {
            min-width: auto;
        }

        @media screen and (max-width: 575px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &:focus {
            outline:0px !important; 
            border: 2px solid $colour-primary;
            box-shadow: $box-shadow !important;
        }

        &::selection {
            border: 2px solid $colour-primary !important;
            box-shadow: none !important;
        }
    }

}

.navbar__search--dropdown-menu {
    display:block;
    position: absolute;
    background-color: $colour-white;
    color: $colour-primary-black;
    height: auto;
    min-width: 400px;
    z-index: 5000;
    border-right: 1px solid $colour-primary;
    border-left: 1px solid $colour-primary;
    border-radius: 10px;
    margin-top: 32px;
    box-shadow: $box-shadow;

    @media screen and (max-width: 410px) {
        min-width: auto;
    }
}

.navbar__search--dropdown-item {
    cursor: pointer;
    border-right: 1px solid $colour-primary;
    border-left: 1px solid $colour-primary;
    border-bottom: 1px solid $colour-primary;
    min-height: 100px;

    &:hover {
        background-color: $colour-primary;
        color: $colour-white;
    }
}

.navbar__search--dropdown-image {
    width: 110px;
    height: 110px;
    display:flex;
    align-self: center;
}

.navbar__search--dropdown-image > img {
    height:100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 13px;
}

.navbar__search--dropdown-infocolumn {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:0;
}

.navbar__search--dropdown-areacolumn {
    display: flex;
    justify-content: flex-end;
}

.bg-dark {
    background-color: $colour-white !important;
}

.nav-logo {
    height: 70px;
    @media screen and (max-width: 579px) {
        height: 60px;
    }
}

.nav-container {
    margin-top: 30px;
    margin-bottom: 30px;

    @media screen and (max-width: 579px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.nav-link {
    color: #6eddbc !important;
    &:hover {
        color: #3ba283 !important;
    }
}

.nav-link.active {
    color: #3ba283 !important;
}

.navbar-dark .navbar-toggler {
    color: $colour-primary !important;
    background-color: $colour-primary !important;

    @media screen and (max-width: 575px) {
        margin-right: 20px;
    }
}

.navbar-brand {
    @media screen and (max-width: 575px) {
        margin-left: 20px;
    }
}

.navbar-collapse {
    @media screen and (max-width: 575px) {
        margin-left: 20px;
    }
}




