
.product__detail--image-div-large-screen {
    @media (max-width: 992px) {
        display:none;
    }
}

.product__detail--coverimage {
    height: 500px;
}

.product__detail--coverimage > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.product__detail--rowimage {
    height: 250px;
}

.product__detail--rowimage > img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}

.product__detail--image-div-small-screen {
    display:none;
    @media (max-width: 992px) {
        display:block;
    }
}

.product__detail--image-div-small-screen-image {
    height: auto;
}

.product__detail--image-div-small-screen-image > img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

.product__detail--amenities-column {
    display:flex;
    justify-content: space-around;
    
    @media screen and (max-width: 460px) {
        display:flex;
        flex-wrap: wrap;
    }
}

.product__detail--price-column {
    display: flex;
    justify-content: end;
    @media screen and (max-width: 600px) {
        justify-content: center;
    }

    .product__detail--price {
        font-weight: $font-weight-semibold;
    }
}


.product__detail--bookbutton-column-small-screen {
    display:none;
    @media screen and (max-width: 990px) {
        display: block;
    }
}

.product__detail--bookbutton-column-large-screen {
    display:block;
    @media screen and (max-width:990px) {
        display:none;
    }
}


