.tab-content {
    background: white;
    padding: 1em;
    min-height: 150px;
    border-color: white;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    margin-top: -14px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: $colour-secondary;
    background-color: white;
    border-color: white;
    border-radius: 12px 12px 0 0;
}

.nav-tabs .nav-link {
    color: $colour-primary;

    &:hover {
        color: $colour-primary;
    }
}